{% extends "user-dashboard-header-footer.html" %}

{% block main-content %}

<main class="container py-5">
        <h1 class="text-center form-title">Create a New Note</h1>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-sm rounded-4">
                    <div class="card-body p-4">
                        <form id="note-form" method='post'>
                            <div class="mb-3">
                                <label for="note-title" class="form-label fw-bold">Title</label>
                                {{form.notes_title}}
                                {% comment %} <input type="text" class="form-control" id="note-title" placeholder="Note title" required> {% endcomment %}
                            </div>
                            <div class="mb-3">
                                <label for="note-content" class="form-label fw-bold">Content</label>
                                {{form.notes_content}}
                                {% comment %} <textarea class="form-control" id="note-content" rows="10" placeholder="Your note content here..." required></textarea> {% endcomment %}
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-add-note">Save Note</button>
                                <a href="{% url "user-dashboard" %}" class="btn btn-outline-secondary rounded-pill">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock main-content %}