{% extends "user-dashboard-header-footer.html" %}

{% block main-content %}

    <!-- Main Content -->
    <main class="container-fluid">
        <div class="row">
            <div class="col-12 mb-4">
                <h1 class="text-center fw-bold text-dark my-4">My Notes</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="notes-container">
            <!-- Notes will be dynamically injected here -->
             <div class="p-2">
                <h2 class="text-center">{{notestitle}}</h2>
                <p class="p-2">{{notescontent}}</p>
             </div>
        </div>
    </main>

{% endblock main-content %}